@model ProyectoWeb2.Models.usuario
@{
    ViewBag.Title = (Model.usuario_id > 0 ? Model.nombre : "Nuevo Registro");
    List<ProyectoWeb2.Models.usuario_tipo> tipo = ViewBag.Tipo;
    List<ProyectoWeb2.Models.estado_usuario> estado = ViewBag.Estado;
}

<h2>Agregar</h2>
<ol class="breadcrumb">
    <li><a href="~/usuario">Usuario</a></li>
    <li class="active">@(Model.usuario_id > 0 ? Model.nombre : "Nuevo Registro")</li>
</ol>

@using (Html.BeginForm("Guardar", "usuario", FormMethod.Post, new
{
    id = "frm-categoria"

}))
{
    @Html.HiddenFor(x => x.usuario_id)
    <div class="panel panel-default">
        <div class="panel-heading">Informacion del Usuario</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("ID:")
                @Html.TextBoxFor(x => x.usuario_id, new { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("Tipo:")
                <select name="usuario_tipo_id_fk" class="form-control">
                    <option @(Model.usuario_tipo_id_fk.Equals("") ? "selected" : "") value="">-Seleccione</option>
                    @foreach (var p in tipo)
                    {
                        <option @(Model.usuario_tipo_id_fk.Equals(p.usuario_tipo_id) ? "Selected" : ""  ) value="@p.usuario_tipo_id">@p.descripcion</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.usuario_tipo_id_fk, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Estado:")
                <select name="estado_usuario_id_fk" class="form-control">
                    <option @(Model.estado_usuario_id_fk.Equals("") ? "selected" : "") value="">-Seleccione</option>
                    @foreach (var p in estado)
                    {
                        <option @(Model.estado_usuario_id_fk.Equals(p.estado_usuario_id) ? "Selected" : ""  ) value="@p.estado_usuario_id">@p.nombre</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.estado_usuario_id_fk, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Usuario:")
                @Html.TextBoxFor(x => x.usuario1, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.usuario1, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Password:")
                @Html.TextBoxFor(x => x.usuario_password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.usuario_password, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Nombre:")
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Email:")
                @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.email, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("DNI:")
                @Html.TextBoxFor(x => x.dni, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.dni, null, new { @class = "label label-danger" })
            </div>

        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/usuario" class="btn btn-danger">Cancelar</a>
    </div>

}
