@model ProyectoWeb2.Models.restaurante
@{
    ViewBag.Title = (Model.restaurante_id > 0 ? Model.nombre : "Nuevo Registro");
    List<ProyectoWeb2.Models.empresa> empresa = ViewBag.Empresa;
}

<h2>Agregar</h2>
<ol class="breadcrumb">
    <li><a href="~/restaurante">Restaurante</a></li>
    <li class="active">@(Model.restaurante_id > 0 ? Model.nombre : "Nuevo Registro")</li>
</ol>

@using (Html.BeginForm("Guardar", "restaurante", FormMethod.Post, new
{
    id = "frm-categoria"

}))
{
    @Html.HiddenFor(x => x.restaurante_id)
    <div class="panel panel-default">
        <div class="panel-heading">Informacion del Restaurante</div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("ID:")
                @Html.TextBoxFor(x => x.restaurante_id, new { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("Empresa:")
                <select name="empresa_id_fk" class="form-control">
                    <option @(Model.empresa_id_fk.Equals("") ? "selected" : "") value="">-Seleccione</option>
                    @foreach (var p in empresa)
                    {
                        <option @(Model.empresa_id_fk.Equals(p.empresa_id) ? "Selected" : ""  ) value="@p.empresa_id">@p.nombre</option>
                    }
                </select>
                @Html.ValidationMessageFor(x => x.empresa_id_fk, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Nombre:")
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Foto:")
                @Html.TextBoxFor(x => x.foto, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.foto, null, new { @class = "label label-danger" })
            </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/restaurante" class="btn btn-danger">Cancelar</a>
    </div>

}
